.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px;
  background-color: #fff;
}

.footer__copyright {
  margin: 0;
  color: #b6bcbf;
  font-size: 16px;
  line-height: 1.38;
}

.footer__nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer__link {
  color: #1a1b22;
  font-size: 16px;
  line-height: 1.38;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 40px;
  }

  .footer__nav {
    gap: 24px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 38px;
    padding: 20px 16px;
  }

  .footer__nav {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
